html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: Courier New, Courier, monospace;
}

.clock {
    position: absolute;
    width: 90vmin;
    height: 90vmin;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 5vmin;
    border: 1px solid black;
    background-color: green;
    border-radius: 50%;
    border: 2px solid black;
    --fps: 25;
}

.clock .dot {
    --rotation: 0deg;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    transform: rotate(var(--rotation));
    font-size: 3.5vmin;
}

    .clock .dot00 {
        --rotation: calc(360deg / var(--fps) * 0);
    }

    .clock .dot01 {
        --rotation: calc(360deg / var(--fps) * 1);
    }

    .clock .dot02 {
        --rotation: calc(360deg / var(--fps) * 2);
    }

    .clock .dot03 {
        --rotation: calc(360deg / var(--fps) * 3);
    }

    .clock .dot04 {
        --rotation: calc(360deg / var(--fps) * 4);
    }

    .clock .dot05 {
        --rotation: calc(360deg / var(--fps) * 5);
    }

    .clock .dot06 {
        --rotation: calc(360deg / var(--fps) * 6);
    }

    .clock .dot07 {
        --rotation: calc(360deg / var(--fps) * 7);
    }

    .clock .dot08 {
        --rotation: calc(360deg / var(--fps) * 8);
    }

    .clock .dot09 {
        --rotation: calc(360deg / var(--fps) * 9);
    }

    .clock .dot10 {
        --rotation: calc(360deg / var(--fps) * 10);
    }

    .clock .dot11 {
        --rotation: calc(360deg / var(--fps) * 11);
    }

    .clock .dot12 {
        --rotation: calc(360deg / var(--fps) * 12);
    }

    .clock .dot13 {
        --rotation: calc(360deg / var(--fps) * 13);
    }

    .clock .dot14 {
        --rotation: calc(360deg / var(--fps) * 14);
    }

    .clock .dot15 {
        --rotation: calc(360deg / var(--fps) * 15);
    }

    .clock .dot16 {
        --rotation: calc(360deg / var(--fps) * 16);
    }

    .clock .dot17 {
        --rotation: calc(360deg / var(--fps) * 17);
    }

    .clock .dot18 {
        --rotation: calc(360deg / var(--fps) * 18);
    }

    .clock .dot19 {
        --rotation: calc(360deg / var(--fps) * 19);
    }

    .clock .dot20 {
        --rotation: calc(360deg / var(--fps) * 20);
    }

    .clock .dot21 {
        --rotation: calc(360deg / var(--fps) * 21);
    }

    .clock .dot22 {
        --rotation: calc(360deg / var(--fps) * 22);
    }

    .clock .dot23 {
        --rotation: calc(360deg / var(--fps) * 23);
    }

    .clock .dot24 {
        --rotation: calc(360deg / var(--fps) * 24);
    }

#timecode {
    position: relative;
    width: 100%;
    height: 100%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10vmin;
}

.ping-pong {
    position: absolute;
    width: 100%;
    height: 5vmin;
    left: 0;
    right: 0;
    bottom: 0;
}

.box {
    position: absolute;
    width: 5vmin;
    height: 5vmin;
    background-color: black;
    transition-property: left;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    left: 0;
    /*    left: calc(100vw - 5vmin);*/
}
